@CHARSET "UTF-8";

#legend{
	height: 100px;
}
#square {
	width: 20px;
	height:20px;
	background: #e31b23;
}
#square2 {
	width: 20px;
	height:20px;
	background: #e31b23;
}

.tc-chart-js-legend {
	list-style-type: none;
	padding-left: 0px;
}

.tc-chart-js-legend li {
	display: block;
	float: left;
	clear: both;
	padding: 10px;
}

.tc-chart-js-legend li span {
	width: 25px;
	height: 25px;
	display: block;
	float: left;
	margin-right: 10px;
}

.navbar-brand img {
	padding-left: 20px;
}

.query-table {
	padding: 10px;
}

#sidebar-wrapper {
	position: fixed;
	height: 90%;
	overflow: hidden;
	overflow-y: auto;
	padding-bottom: 20px;
	width: 250px;
	background-color: #303030;
}

#sidebar-wrapper h5 {
	font-size: .9em;
}

.pageOut-wrapper {
	position: fixed;
	height: 90.5%;
	width: 90.5%;
/* 	overflow: auto; */
	overflow-y: auto;
	
}

.form-control.col-lg-6 {
	width: 50% !important;
}

.fileNote {
	font-size: 12px;
	color: red;
	text-align: center;
}